@page "/Blog/{Category}"
@page "/Blog/{Category}/{Title}/{UUID}"
@inherits BlogCategoriesBase
@using app.Shared.Blog;

@if (Title != null && Category != null && UUID != null && Title != null && BlogSelected == false)
{
    BlogBase b = BlogBase.GetSpecificBlogBaseByUUID(UUID);
    <div>
        <Blog UUID="@b.UUID" OnClickEvent="OnSelectedBlog" Title="@b.Title" Author="@b.Author" DatePublished="@b.DatePublished" Category="@b.Category" Body="@b.Body" Trim=false SingleRender=true />
    </div>
}
else
{
    @if (Category == null || Title == null)
    {
        <h1 class="display-4">@Category</h1>
        foreach (BlogBase b in FetchedBlogs)
        {
            <div>
                <Blog UUID="@b.UUID" OnClickEvent="OnSelectedBlog" Title="@b.Title" Author="@b.Author" DatePublished="@b.DatePublished" Category="@b.Category" Body="@b.Body" Trim=true SingleRender=false />
            </div>
        }
        if (TotalNumberOfBlogs > FetchedBlogs.Count)
        {
            <div class="mx-auto" style="width: 200px;">
                <button class="btn btn-light" @onclick="LoadMoreBlogs">Load More</button>
            </div>
        }
    }  
    @if (BlogSelected == true && Title != null && Category != null && UUID != null)
    {
        <Blog UUID=@SelectedBlog.UUID OnClickEvent="@OnSelectedBlog" Title=@SelectedBlog.Title Author=@SelectedBlog.Author Category=@SelectedBlog.Category DatePublished=@SelectedBlog.DatePublished Body=@SelectedBlog.Body Trim=false />
    }
}