@if(SingleBlogRender)
{
     <div>
        <Blog title="@SliceOfBlogs[0].Title" Author="@SliceOfBlogs[0].Author" DatePublished="@SliceOfBlogs[0].DatePublished" Body="@SliceOfBlogs[0].Body" Category="@Category" Trim=false/> 
     </div>
}
else
{
   <div>
        <h2>@PageName</h2>
        <p>@Introduction</p>
        @foreach (Blog blog in SliceOfBlogs)
        {
            <div>
                @for (int i = 0; i < 10; i++)
                {
                    <Blog title="@blog.Title" Author="@blog.Author" DatePublished="@blog.DatePublished" Body="@blog.Body" Category="@Category" Trim=true/> 
                }
            </div>
        }
    </div> 
}


@code{
    [Parameter]
    public string PageName { get; set; }
    [Parameter]
    public string Category { get; set; }
    [Parameter]
    public string Introduction { get; set; }
    [Parameter]
    public List<Blog> SliceOfBlogs { get; set; }
    protected bool SingleBlogRender { get; set; } = false;
    
    public BlogLayout()
    {
        
    }

    public BlogLayout(string pagename, string introduction, List<Blog> blogs)
    {
        PageName = pagename;
        Introduction = Introduction;
        SliceOfBlogs = blogs;
    }
}